.cart_modal {
    position: fixed;
    background-color: #adffad;
    text-align: center;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 560px;
    top: 56px;
    width: 20%;
    right: 5px;
    transition: 5s;
}
.cross_icon {
    position: fixed;
    margin-right: 24rem;
    height: 30px;
    cursor: pointer;
    right: -6.75rem;
    top: 3.5rem;
    background-color: #adffad;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 5s;
}
.list_control {
    float: left;
    width: 200px;
    margin: 0px;
    position: absolute;
    left: -30px;
}

.modal_img {
    height: 30px;
    float: left;
    margin-right: 5px;
}

.item {
    display: flex;
    margin-top: 0.2rem;
    list-style-type: none;
    margin-right: 20px;
    border: 2px solid;
    padding: 2px;
    border-radius: 5px;
    background-color: floralwhite;
    box-shadow: 0px 2px 3px 1px #e7aed5;
}
.title {
       font-size: 9px;
       text-overflow: ellipsis;
       overflow: hidden;
       white-space: nowrap;
       padding-top: 5px;
}

.amount {
    position: absolute;
    right: 20px;
    font-size: 9px;
    border: 2px solid;
    float: right;
    padding: 2px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    top: -5px;
    background-color: floralwhite;
}
.divAdjuster {
    position: absolute;
    right: -25px;
}
.actions {
    display: flex;
    flex-direction: column;
  }
  .bottom_line {
    margin-top: 29rem;
  }
  .setTotalAmount {
    float: left;
    margin-left: 1rem;
    margin-top: 8px;
  }

  .login_button {
    margin: 2px;
    border: 1px solid #e69527;
    border-radius: 5px;
    height: 30px;
    width: auto;
    background-color: #e69527;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
    cursor: pointer;
  }