.events {
    width: auto;
  }

  .events h1 {
    text-align: center;
  }
  
  .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: 1rem;
  }

  .item{
    flex: 20%;
  }
  
  .item a {
    flex: 20%;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .item a:hover {
    transform: scale(1.02);
  }
  
  .item img {
    width: 60%;
    object-fit: cover;
  }
  
  .content {
    padding: 1rem;
  }
  .item h2 {
    width: 20rem;
    margin: 0 0 1rem 0;
  }
  .filterDiv {
    display: flex;
    flex-wrap: wrap;
  }
  .filter {
    position: absolute;
    flex: 50%;
    top: 5rem;
    width: 2%;
    margin-left: 2rem;
  }
  .filterList{
    flex: 50%;
    list-style-type: none;
    top: 4rem;
    left: 1.5rem;
    margin: 0px;
  }
  .filterList li {
    border: 1px solid black;
    border-radius: 5px;
    width: 6%;
    text-align: center;
    font-size: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
  }