.events {
    width: auto;
  }

  .events h1 {
    text-align: center;
  }
  
  .list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: 1rem;
  }

  .item{
    flex: 20%;
  }
  
  .item a {
    flex: 20%;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .item a:hover {
    transform: scale(1.02);
  }
  
  .item img {
    width: 60%;
    object-fit: cover;
  }
  
  .content {
    padding: 1rem;
  }
  .item h2 {
    width: 20rem;
    margin: 0 0 1rem 0;
  }
  