.list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-right: 10px;
  }

  .list h2 {
    text-align: center;
  }

  .item{
    flex: 20%;
    height: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .item a {
    flex: 20%;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
  }
  
  .item a:hover {
    transform: scale(1.02);
  }

  .item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    justify-content: center;
  }
  
  .content {
    padding: 1rem;
    width: 12rem;
    height: 15rem;
    margin: auto;
  }
  h1{
    text-align: center;
  }