.cart_modal {
    position: relative;
    background-color: #adffad;
    /* width: 25%; */
    float: right;
    text-align: center;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 545px;
    margin-top: -15px;
}
.cross_icon {
    margin-right: 24rem;
    height: 30px;
    cursor: pointer;
}